
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    transition: all 0.4s ease;
    z-index: 1000;
}
html {
    scroll-behavior: smooth;
}
nav.scrolled {
    background-color: #222;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}


.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #00c6ff;
}


.section {
    height: 100vh;
    padding-top: 100px;
    text-align: center;
    font-size: 40px;
}

#home { background: #6bb1ef; }
#about { background: #6ced97; }
#services { background: #b65270; }
#contact { background: #beb760; }

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .nav-links {
        margin-top: 10px;
    }

    .nav-links li {
        margin: 10px;
    }
}
